<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Capture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Capture.Properties.Settings>
            <setting name="Baud" serializeAs="String">
                <value>57600</value>
            </setting>
            <setting name="Com" serializeAs="String">
                <value>COM3</value>
            </setting>
        </Capture.Properties.Settings>
    </userSettings>
</configuration>