<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Event Type" Id="Umbraco.DropDown" Definition="89ea7f6c-82cb-448d-bbb1-104480a9eb71" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="27" Value="Test" Alias="0" SortOrder="0" />
    <PreValue Id="28" Value="Casual" Alias="1" SortOrder="1" />
    <PreValue Id="29" Value="Real" Alias="2" SortOrder="2" />
  </PreValues>
</DataType>