<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Gender" Id="Umbraco.RadioButtonList" Definition="a5788a42-dbad-434d-a13e-7db1b5603acb" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="13" Value="Male" Alias="0" SortOrder="0" />
    <PreValue Id="14" Value="Female" Alias="1" SortOrder="1" />
  </PreValues>
</DataType>