<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Picker - Event" Id="Umbraco.ContentPickerAlias" Definition="73ffb728-bb70-42e0-83f8-a88b5da0126f" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="32" Value="0" Alias="showEditButton" SortOrder="0" />
    <PreValue Id="33" Value="1081" Alias="startNodeId" SortOrder="1" />
  </PreValues>
  <Nodes>
    <Node Id="1081" Value="Home\Events" Alias="startNodeId" Type="content" />
  </Nodes>
</DataType>