<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Strikes</Name>
    <Alias>Strikes</Alias>
    <Icon>icon-folder-outline</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Compositions />
    <AllowedTemplates>
      <Template>Strikes1</Template>
    </AllowedTemplates>
    <DefaultTemplate>Strikes1</DefaultTemplate>
    <Container>True</Container>
  </Info>
  <Structure>
    <DocumentType>Strike</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>